@model PixelPalaceHotel.Models.Dipendente

@{
    ViewBag.Title = "Home Page";
}

@*FARE IN QUEST'ORDINE LE TASK:
    - FORM USANDO I MODEL
    - QUERY ASYNC
    - UI UX*@

<h2>Benvenuto, effettua l'accesso</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Username)
    @Html.EditorFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username) 
    <br>
    <br>
    @Html.LabelFor(model => model.Pass)
    @Html.EditorFor(model => model.Pass)
    @Html.ValidationMessageFor(model => model.Pass)
    <br>
    <br>
    <button class="btn btn-primary">Login</button>
}